<h3>edit {{dashboard.name}}</h3>

<div id="auth">
    <form action="/dashboard/{{dashboard._id}}" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name" value="{{dashboard.name}}"/>

        <label for="description">Description</label>
        <input type="text" name="description" value="{{dashboard.name}}"/>

        <label for="image_url">Image</label>
        <input type="text" name="image_url" value="{{dashboard.image_url}}"/>

        <label for="type">Type</label>
        <select name="type">
            {{#ifEqual dashboard.type 'Crypto'}}
                <option value="Crypto" selected>CRYPTO</option>
                <option value="NFT">NFT</option>
            {{/ifEqual}}

            {{#ifEqual dashboard.type 'NFT'}}
                <option value="Crypto">CRYPTO</option>
                <option value="NFT" selected>NFT</option>
            {{/ifEqual}}
        </select>

        <button type="submit">Create your dashboard</button>
    </form>
</div>