<div id="gallery"><a id="addDashboard" href="/dashboard">Add a new dashboard<i class="far fa-plus-square"></i></a>
    <div id="gallery-options">
        <i class="fas fa-th"></i>
    </div>
</div>
<div id="dashboard-wrapper">
    {{#each dashboards}}
        <a href="/dashboard/{{_id}}">
            <div class="dashboard-container">
                {{#ifEqual type 'NFT'}}
                    <h1><i class="fas fa-money-bill"></i></h1>
                {{else}}
                    <h1><i class="fas fa-chart-line"></i></h1>
                {{/ifEqual}}
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <h3>{{type}}</h3>
                <div id="dashboard-action">
                    <a href="/dashboard/{{_id}}/edit"><i class="far fa-edit"></i></a>
                    <a href="/dashboard/{{_id}}/delete"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>

        </a>
    {{/each}}
</div>
